* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik Mono One', sans-serif;
}

/* HEADER */
header {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: right;
  z-index: 500;
}

header nav li {
  display: inline-block;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding: 10px 12px;
}

nav li:hover {
  box-shadow: 2px 2px 2px black;
}

/* MAIN */
main section {
  height: 100vh;
  position: relative;
}

#uno {
  background-color: red; 
}

#due {
  background-color: green;
}

#tre {
  background-color: yellow;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  margin: 0 auto;

}

.content img {
  width: 100%;
}

.content h2 {
  text-align: center;
  font-size: 3vw;
  text-transform: uppercase;
}

#uno h2, #due h2 {
  color: yellow;
}

#tre h2 {
  color: green;
}